{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <div class="bg-img">
        <div class="content">
            <header>Change Password</header>
            <form method="POST">
                {% csrf_token %}
                <div class="field">
                    <span class="fa fa-lock"></span>
                    <input type="password" name="new_password" placeholder="Enter New Password" required>
                </div>
                <div class="field">
                    <input type="submit" value="Change Password">
                </div>
                {% if form.errors %}
                <div class="error-message">
                    <p>{{ form.errors.new_password }}</p>
                </div>
                {% endif %}
            </form>
            <div class="signup">
                Remember your password? <a href="{% url 'login' %}">Login Now</a>
            </div>
        </div>
    </div>
</body>
</html>
